body {
    font-family: 'Prompt', sans-serif;
    background-color: #a9d6e5;
    line-height: 2;
    font-size: large;
}

.logo {
    font-family: 'Gajraj One', cursive;
}

.hidden {
    display: none;
}