<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise list</title>
</head>
<body>
<form method="GET">
    {{ exercise_filter.form }}
    <button type="submit">Filter</button>
</form>
<table border="1">
{% for exercise in exercise_filter.qs %}
<tr>
    <td>{{ exercise.name }}</td>
    <td>{{ exercise.description }}</td>
    <td>{{ exercise.main_muscle_group }}</td>
    <td>
        {% for equipment in exercise.equipment_needed.all %}
            {{equipment}}
            {% endfor %}
    </td>
    <td>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ workout_template_id }}" name="workout_template_id">
            <input type="hidden" value="{{ exercise.id }}" name="exercise_id">
            <button type="submit">>Add exercise</button>
        </form>
    </td>
</tr>
{% endfor %}
</table>
<button><a href="/create_exercise">Add new exercise</a></button>
</body>
</html>