{% extends 'main.html' %}
<body>
{% block content %}
    <section class="py-5" style="background-color: black">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <form method="POST">
        {% csrf_token %}
        <div class="form-grey">
            {{ ctx.workout_plan_form }}
            </div>
        <button class="btn btn-primary my-3" type="submit">Create plan</button>
    </form>
    </div>
            </div>
        </div>
    </section>
{% endblock %}
</body>
</html>