<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Set</title>
</head>
<body>
{{ workout_exercise.exercise }}
<form method="POST">
    {% csrf_token %}
    {{ set_form_workout_template }}
    <button type="submit">Add set to workout</button>
</form>
</body>
</html>

<div class="container" id="workout_container">
    <div class="container" id="workout_details">
        <div class="row">
            <h2 id="template_name">
                {{ last_workout.template.name }}
            </h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div><i class="fa-solid fa-calendar-days fa-2xl"></i> Date: {{ last_workout.create|date: 'd M Y' }}</div>
                <div><i class="fa-solid fa-dumbbell fa-2xl"></i> Exercises: {{ last_workout_dict.items|length }}</div>
                <div><<i class="fa-solid fa-bars-sort fa-2xl"></i> Sets: {{ last_workout_totals.0 }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div><i class="fa-solid fa-arrows-rotate fa-2xl"></i> Repetitions: {{ last_workout_totals.1 }}</div>
                <div><i class="fa-solid fa-weight-hanging fa-2xl"></i> Total load: {{ last_workout_totals.2 }} kg</div>
            </div>
        </div>
    <div id="workout_display">
        {% for workout_exercise, sets in last_workout_dict.items %}
            <div class="row">
                {{ workout_exercise.exercise }}
            </div>
            <div class="row">
                Sets
            </div>
            {% for set in sets %}
                <div class="row">
                    <div class="col">
                        {{ forloop.counter }}
                    </div>
                    <div class="col">
                        Load: {{ set.load }} kg
                    </div>
                    <div class="col">
                        Repetitions: {{ set.repetitions}}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>