<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit workout template</title>
</head>
<body>
<button><a href="/add_exercise_to_workout_template">Add exercise to template</a></button>
<h1>{{ workout_template.name }}</h1>
<table>
    {% for exercise, sets in workout_dict.items %}
        <thead>
            <tr>
                <th>{{ forloop.counter }}</th>
                <th>{{ exercise }}</th>
                <th>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ exercise.id }}" name="exercise_id">
                        <button type="submit" >Add Set</button>
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for set in sets %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ set.repetitions }}</td>
            </tr>
        {% endfor %}
        </tbody>


    {% endfor %}
</table>

</body>
</html>