<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
        {% block title %}
        <title>New Gym</title>
        {% endblock  %}
        {% block style %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet">
        {% endblock %}
    {% endblock %}
</head>

<body>

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NEW GYM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="create_new_workout">New workout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"href="/workout_plan_list">My plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Workout History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Exercise Atlas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
<section class="bg-dark text-light p-2 text-center">
<div class="container-fluid border-5 rounded-4 bg-dark text-light p-5 my-5 mx-2">
<div class="row">
    <div class="container rounded-4 p-2">
    <h2>Active workout plan: {{ active_plan.name }}</h2>

</div>
  <div class="row">
  <div class="col m-5">
    <div class ="container">
        <h2>Last workout</h2>
        <h3>Template: {{ last_workout.template.name }}</h3>
        <h3>{{ last_workout.created|date:'Y-m-d' }}</h3>
        <div class="accordion" id="last_workout">
        {% for workout_exercise, sets in last_workout_dict.items %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}"></h2>
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#exercise-{{ forloop.counter }}" aria-expanded="true" aria-controls="exercise-{{ forloop.counter }}">
                  {{ forloop.counter }}. {{ workout_exercise.exercise }}
              </button>
           </h2>
           <div id="exercise-{{ forloop.counter }}" class="accordion-collapse collapse", aria-labelledby="heading{{ forloop.counter }}"
                data-bs-parent="#last_workout">
             <div class="accordion-body text-start">
               <ul>
                   {% for set in sets %}
                       <li> Set {{ set.order }}  <br> {{ set.repetitions }} reps {{ set.load }} kg</li>
                   {% endfor %}
               </ul>
             </div>`
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
  </div>
  <div class="col m-5">
    <div>
        <h2>Next workout</h2>
        <h3>Template: {{ next_workout.template.name }}</h3>
        <div class="accordion" id="next_workout">
        {% for workout_exercise, sets in next_workout_dict.items %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}"></h2>
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#next_workout_exercise-{{ forloop.counter }}" aria-expanded="true" aria-controls="next_workout_exercise-{{ forloop.counter }}">
                  {{ workout_exercise.exercise }}
              </button>
           </h2>
           <div id="next_workout_exercise-{{ forloop.counter }}" class="accordion-collapse collapse", aria-labelledby="heading{{ forloop.counter }}"
                data-bs-parent="#next_workout">
             <div class="accordion-body">
               <ul>
                   {% for set in sets %}
                       <li> Set {{ set.order }}  <br> {{ set.repetitions }} reps</li>
                   {% endfor %}
               </ul>
             </div>`
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
  </div>
  </div>
</div>
</section>


{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>