<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout Plan List</title>
</head>
<body>
    {% for workout_plan in workout_plan_list %}
        {{ workout_plan.name }}
        {% if workout_plan.is_active is True %}
            active
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="workout_plan_id" value="{{ workout_plan.id }}">
            <button type="submit">Set as active</button>
        </form>
    {% endfor %}
</body>
</html>