<div class="container bg-light rounded-4 p-3 shadow-5-strong" id="workout_container">
    <div class="container" id="workout_details">
        <div class="row pb-3 pt-2">
            <h2 class="text-center">
                {{ headline }}
            </h2>
        </div>
        <hr class="hr-blurry"/>
        <div class="row pt-1">
            <h3 id="template_name">
                Template: {{ workout.template.name }}
            </h3>
        </div>
    <div class='container py-1' id="workout_sets">
        {% for workout_exercise, sets in workout_dict.items %}
            <hr class="hr-blurry"/>
            <div class="row pt-3 pb-1">
                <h5>{{ workout_exercise.exercise }}</h5>
            </div>

            <div class="row pb-1">
                <div class="col-2">Sets</div>
                <div class="col">Repetition range</div>
            </div>
            {% for set in sets %}
                <div class="row">
                    <div class="col-2">
                        {{ forloop.counter }}
                    </div>
                    <div class="col">
                        {{ set.repetitions|add:'-2' }} - {{ set.repetitions }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
</div>