<div class="container bg-light rounded-4 p-3 shadow-5-strong" id="workout_container">
    <div class="container" id="workout_details">
        <div class="row pb-3 pt-2">
            <h2 class="text-center">
                {{ headline }}
            </h2>
        </div>
        <hr class="hr-blurry"/>
        <div class="row pb-3">
            <h3 id="template_name">
                Template: {{ workout.template.name }}
            </h3>
        </div>
        <div class="row justify-content-start">
            <div class="col-12 col-md-4">
                <div class="py-2"><i class="fa-solid fa-calendar-days fa-2xl pe-3 ps-1"></i> {{ workout.created|date:'d M Y' }} </div>
                <div class="py-2"><i class="fa-solid fa-dumbbell fa-2xl pe-2"></i> Exercises: {{ workout_dict.items|length }}</div>
                <div class="py-2"><i class="fa-solid fa-stopwatch-20 fa-2xl ps-1 pe-3"></i> Sets: {{ workout_totals.0 }}</div>
            </div>
            <div class="col-12 col-md-4">
                <div class="py-2"><i class="fa-solid fa-arrows-rotate fa-2xl pe-2"></i> Repetitions: {{ workout_totals.1 }}</div>
                <div class="py-2"><i class="fa-solid fa-weight-hanging fa-2xl pe-2"></i> Total load: {{ workout_totals.2 }} kg</div>
            </div>
        </div>
    <div class='container py-3' id="workout_sets">
        {% for workout_exercise, sets in workout_dict.items %}
            <hr class="hr-blurry"/>
            <div class="row pt-3">
                <h5>{{ workout_exercise.exercise }}</h5>
            </div>

            <div class="row pb-1">
                <div class="col-2">Sets</div>
                <div class="col" >Load</div>
                <div class="col">Repetitions</div>
            </div>
            {% for set in sets %}
                <div class="row">
                    <div class="col-2">
                        {{ forloop.counter }}
                    </div>
                    <div class="col">
                        {{ set.load }} kg
                    </div>
                    <div class="col">
                        {{ set.repetitions}}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
</div>