{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar fixed-top text-secondary" style="background-color: #0096c7">
  <div class="container-fluid">
      <a class="navbar-brand text-secondary logo" href=""><strong>NEW GYM</strong></a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link text-secondary" href=""><strong>ABOUT</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary"  href=""><strong>PROJECT</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary"  href=""><strong>TECHNOLOGIES</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary"  href=""><strong></strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary"  href="/login"><strong>LOGIN</strong></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
{# hero section #}
<section>
    <style>
        body{
            overflow-x: hidden;
        }
        .bg-image-link{
    background-image: url('{% static 'WorkoutTracker/luis-reyes-mTorQ9gFfOg-unsplash.jpg' %}');
    height: 80vh;
        }
    </style>
<div class="bg-image bg-image-link text-center">
      <div class="mask row justify-content-center p-0 m-0 w-100 overflow-hidden" style="background-color: rgba(0, 150, 199, 0.7)" >
    <div class="col col-md-7 d-flex flex-column justify-content-center align-items-center h-100 gap-5">
    <h1 class="text-secondary logo mt-3 display-1"><strong>NEW GYM</strong></h1>
    <h1 class="text-secondary display-5">
        Log your gym workouts and track your progress using data visualization.
    </h1>
    <div class="d-sm-flex w-md-50 justify-content-between gap-5 align-items-center">
    <a class="btn btn-lg text-nowrap btn-secondary" href="/sign_up"><strong>Register as a new user</strong></a>
    <h1 class="text-secondary">
        or
    </h1>
    <a class="btn btn-lg btn-secondary" href="/sign_up"><strong>Login as a preview user</strong></a>
    </div>
    </div>
  </div>
</div>
</section>
{#card section#}
<section class="pt-5">
<div class="row py-5 justify-content-around gap-5">
    <div class="col-md-3">
        <div class="card" style="background-color: #0096c7">
            <div class="card-body text-center">
                <i class="fa-solid fa-regular fa-dumbbell text-secondary fa-7x pb-4"></i>
                <h3 class="card-title pb-4 text-secondary"><strong>Exercises</strong></h3>
                <p class="card-text text-light">
                    The exercises menu lets you easily filter through the exercise database based on
                    the equipment you have, muscle you want to train or just by typing the name of the exercise.
                    You can also add you own exercises!
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-color: #0096c7">
            <div class="card-body text-center">
                <i class="fa-sharp fa-regular fa-clipboard text-secondary fa-7x pb-4"></i>
                <h3 class="card-title pb-4 text-secondary"><strong>Templates</strong></h3>
                <p class="card-text text-light">
                    You can use one of the built-in workout templates or create your own.
                    Before your workout pick a template and if you have previously used it, the app will automatically
                    upload the last workout data into the form, so you can easily progress.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-color: #0096c7">
            <div class="card-body text-center">
                <i class="fa-solid fa-chart-line text-secondary fa-7x pb-4"></i>
                <h3 class="card-title pb-4 text-secondary"><strong>Analytics</strong></h3>
                <p class="card-text text-light">
                    The analytics dashboard lets you easily track your progress. The dynamic filtering lets you
                    change the training period you want to analyze, look at workouts with a specific template or
                    progress of a specific exercise.
                </p>
            </div>
        </div>
    </div>
</div>
</section>
{# about section #}
<section class="text-secondary pt-5">
<div class="d-flex justify-content-center">
<h1 class="text-secondary display-2">About</h1>
</div>
        <div class="row align-items-center py-5">
            <div class="d-none d-md-block col">
            <img class="img-fluid p-5 me-5" src="{% static 'WorkoutTracker/Screenshot2.png' %}">
            </div>
            <div class='col ps-5'>
            <p class="lead">
            <strong>
                New Gym is my final project for Coderslab Python Developer Bootcamp. It has all functionalities of
                a commercial workout tracker application. The database, backend and frontend is my original design.
                The project reflects my passion for strength training and showcase my data analysis skillset.

            </strong>
            </p>
                            <p class="lead text-justify">
            <strong>
                Feel free to register as a new user and track your own workouts or login as a preview user
                with just one click. Please bear in mind that the application and database is hosted on
                <span class="text-secondary">render</span> a free hosting platform and it can take a few seconds to
                perform an action.
            </strong>
            </p>
            <h1 class="text-center text-secondary pt-5" style="font-size: 40px"><strong>Technology stack</strong></h1>
    <div class='row justify-content-around align-items-center text-secondary text-center' style="font-size: 24px">
        <div class="col-md"><i class="fa-brands fa-python fa-3x"></i></div>
        <div class="col-md"><i class="fa-brands fa-js fa-3x"></i></div>
        <div class="col-md"><i class="fa-brands fa-mdb fa-3x"></i></div>
        <div class="col-md"><img class="img-fluid w-50" src="{% static 'WorkoutTracker/postgresql .png' %}"></div>
        <div class="col-md"><img class="img-fluid w-75" src="{% static 'WorkoutTracker/django.ico' %}"></div>
    </div>
            </div>
        </div>
</section>
{#  #}


{% endblock %}