
{% extends "main.html" %}
<body>
{% block content %}
<section class="py-5" style="background-color: black">
<div class="container py-5">
    <table class="table table-hover rounded-4 shadow-5 text-light" style="background-color: rgba(79,79,79,0.71)">
        <thead>
            <tr>
                <th>Plan</th>
                <th>Created</th>
                <th>Number of templates</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for workout_plan in workout_plan_list %}
                <tr>
                    <td><h5><a href="edit_workout_plan/{{ workout_plan.pk }}">{{ workout_plan.name }}</a></h5></td>
                    <td>{{ workout_plan.created|date:'d M Y' }}</td>
                    <td>{{ workout_plan.workoutplantemplates_set.all|length }}</td>
                    <td>
                        {% if workout_plan.is_active == True %}
                            <h5><span class="badge badge-success rounded-pill d-inline">Active</span></h5>
                        {% else %}
                            <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="workout_plan_id" value="{{ workout_plan.pk }}">
                            <button type="submit" class="btn btn-primary btn-sm me-3">Set as active</button>
                            </form>
                        {% endif %}
                    </td>

                </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
</section>
{% endblock %}
</body>
</html>