{% extends "main.html" %}
{% block content %}
<section class="py-5">
<div class="container py-5">
    <table class="table table-hover rounded-4 shadow-5 text-light text-center border border-secondary border-5 rounded-4" style="background-color: #0096c7">
        <thead class="text-secondary text-nowrap" style="font-family: 'Noto Sans Mono CJK TC'">
            <tr>
                <th class="text-start"><strong>CREATED</strong></th>
                <th><strong>TEMPLATE</strong></th>
                <th><strong>EXERCISES</strong></th>
                <th><strong>TOTAL EXERCISES</strong></th>
                <th><strong>TOTAL SETS</strong></th>
                <th><strong>TOTAL REPETITIONS</strong></th>
                <th><strong>TOTAL LOAD</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for workout, data in workout_dict.items %}
                <tr>
                    <td class="text-start"><h5><a class="text-secondary" style="font-family: 'Noto Sans Mono CJK TC'" href="/workout_details/{{ workout.pk }}"><strong>{{ workout.created|date:'d M Y'}}</strong></a></h5></td>
                    <td>{{ workout.template.name }}</td>
                    <td>{%  for exercise in data.exercises %}
                            {{ exercise.exercise }} |
                        {% endfor %}
                    </td>
                    <td> {{ data.exercise_count }}</td>
                    <td>{{ data.totals.0 }}</td>
                    <td>{{ data.totals.1 }}</td>
                    <td>{{ data.totals.2 }} kg</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</section>
{% endblock %}
</body>
</html>